<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submitted Crimes</title>

    <style>
        p {text-align: center; font-size: 24px}
    </style>
</head>
<button onclick="window.location.href='/';">HOME </button>
<button onclick="window.location.href='/reportacrimeadmin?password=PLEASE';">Return to Database </button>
<body style="background-color:#FF0000">
    <p><b>The Crime {{crimes['CaseID']}} that occurred at {{crimes['Location']}} has been submitted!</b></p>
<!--    <h4>Crime Event</h4>-->
<!--    <div>{{crimes['event']}}</div>-->

<!--    <h4>Crime Date</h4>-->
<!--    <div>{{crimes['date']}}</div>-->

<!--    <h4>Case Number</h4>-->
<!--    <div>{{crimes['case']}}</div>-->

<!--    <h4>Offense</h4>-->
<!--    <div>{{crimes['offense']}}</div>-->

<!--    <h4>Disposition</h4>-->
<!--    <div>{{crimes['disposition']}}</div>-->

<!--    <h4>Location</h4>-->
<!--    <div>{{crimes['location']}}</div>-->


</body>
</html>