<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Matching Reports from Database</title>
    <style>
        p {text-align: center}
    </style>
</head>
<body style="background-color:#CC0099">
{% if crimes['event'] %}
    <p><b>Your Crime {{crimes['event']}} has been found!</b></p>
    <h4>Crime Event</h4>
    <div>{{crimes['event']}}</div>

    <h4>Crime Date</h4>
    <div>{{crimes['date']}}</div>

    <h4>Case Number</h4>
    <div>{{crimes['case']}}</div>

    <h4>Offense</h4>
    <div>{{crimes['offense']}}</div>

    <h4>Disposition</h4>
    <div>{{crimes['disposition']}}</div>

    <h4>Location</h4>
    <div>{{crimes['location']}}</div>
{% else %}
    <p> No event data available</p>
{% endif %}
</body>
</html>