<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #form-container {display: table; width: 100%;}
        .form-row {display: table-row;}
        .form-cell {display: table-cell; padding: 10px;}
        label {font-weight: bold;}
        #Delete {border: 1px solid black; max-width: 500px; background-color: #FF7f7f; text-align: center}
        #form-container {border: 1px solid black; max-width: 500px; background-color: #defefe;}
        #form-container1 {display: flex; justify-content: center; align-items: center;}
        #form-container2 {border: 1px solid black; max-width: 500px; background-color: #dedede;}
    </style>

    <button onclick="window.location.href='/';">HOME </button>
{% if warning %}
    <p> {{ warning }}</p>
    {% endif %}
{% if password != 'PLEASE' %}
<h1>Admins Only! Enter the Password:</h1>
<style>
    body {background-color: #f10000}
</style>
{% endif %}

{% if password == 'PLEASE' %}
<h1>Make Database Adjustments Below: Create, Update, Delete</h1>

    <style>
    body {background-color: #89d0f1}
</style>
{% endif %}
</head>
<body>
{% if password != 'PLEASE' %}
<form action="/reportacrimeadmin" method="GET">
        <input type="text" name="password" placeholder="What's the password?">
        <button type="submit">Search</button>
    </form>
{% endif %}
{% if password == 'PLEASE' %}

<div id="form-container">
    <h1> REPORT A CRIME</h1>

    <form action="/crime/inputs/<id>">
<!--        <div class="form-row">-->
<!--            <div class="form-cell">-->
<!--                <label for="Event">Event</label>-->
<!--                    <input type="text" name="Event" placeholder="NN-NN-NN-NNNNNN">-->
<!--            </div>-->
<!--        </div>-->

        <div class="form-row">
            <div class="form-cell">
                <label for="AssignCaseID">Assign Case Number?</label>
                <input id="toggle-on" name="decision" type="radio" value="yes" checked>
                <label for="toggle-on">Yes</label>
                <input id="toggle-off" name="decision" type="radio" value="no">
                <label for="toggle-off">No</label>
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="start_dt">Date From</label>
                    <input type="text" name="start_dt" placeholder="YYYY-MM-DD HH:MM">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="end_dt">Date To</label>
                    <input type="text" name="end_dt" placeholder="YYYY-MM-DD HH:MM">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="off_cat">Offense Category</label>
                    <select name="off_cat">
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="off_des">Offense Description</label>
                    <input type="text" name="off_des" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="ii_cat">Initial Incident Category</label>
                    <select name="ii_cat">
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="ii_des">Initial Incident Description</label>
                    <input type="text" name="ii_des" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="fi_cat">Final Incident Category</label>
                    <select name="fi_cat">
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="fi_des">Final Incident Description</label>
                    <input type="text" name="fi_des" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="loc_type">Location Type</label>
                    <select name="loc_type">
                        {% for type in loc_types %}
                        <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="loc">Location</label>
                    <input type="text" name="loc" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="disp">Disposition</label>
                    <select name="disp">
                        {% for disposition in dispositions %}
                        <option value="{{ disposition }}">{{ disposition }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
    <br>
<input type="submit" name="SUBMIT">
</form>
</div>
<br>
    <br>
<!-- This is the update by event number html -->
<div id="form-container2">
    <h1> UPDATE A CRIME</h1>
    <form action="/updateevent">
        <div class="form-row">
            <div class="form-cell">
                <label for="event">Event</label>
                    <input type="text" name="event" placeholder="NN-NN-NN-NNNNNN">
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="caseid">CaseID</label>
                    <input type="text" name="caseid" placeholder="NNNNNNN">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="start_dt">Date From</label>
                    <input type="text" name="start_dt" placeholder="YYYY-MM-DD HH:MM">
                </div>
        </div>


        <div class="form-row">
            <div class="form-cell">
                <label for="end_dt">Date To</label>
                    <input type="text" name="end_dt" placeholder="YYYY-MM-DD HH:MM">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="off_cat">Offense Category</label>
                    <select name="off_cat">
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="off_des">Offense Description</label>
                    <input type="text" name="off_des" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="ii_cat">Initial Incident Category</label>
                    <select name="ii_cat">
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="ii_des">Initial Incident Description</label>
                    <input type="text" name="ii_des" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="fi_cat">Final Incident Category</label>
                    <select name="fi_cat">
                        {% for category in categories %}
                        <option value="{{ category }}">{{ category }}</option>
                        {% endfor %}
                    </select>
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="fi_des">Final Incident Description</label>
                    <input type="text" name="fi_des" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="loc_type">Location Type</label>
                    <select name="loc_type">
                        {% for type in loc_types %}
                        <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="loc">Location</label>
                    <input type="text" name="loc" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="disp">Disposition</label>
                    <select name="disp">
                        {% for disposition in dispositions %}
                        <option value="{{ disposition }}">{{ disposition }}</option>
                        {% endfor %}
                    </select>
                </div>
        </div>
    <br>
<input type="submit" name="SUBMIT">
</form>
</div>
<br>
<br>
<!-- This is the delete by unique event number html -->
    <div id="Delete">
    <h1>DELETE AN EVENT</h1>
<div id="form-container1">
    <form action="/deletecase">
        <div class="form-row">
            <div class="form-cell">
                <label for="Event">Event</label>
                    <input type="text" name="Event" placeholder="NN-NN-NN-NNNNNN">
            </div>
        </div>
    <br>
<input type="submit" name="SUBMIT" onclick="return confirm('Are you sure? Deletions are permanent!');"/>
</form>
    </div>
        </div>
{% else %}
<p> What's the magic word???.</p>
{% endif %}
</body>
</html>