<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report a Crime</title>
<h1>REPORT A CRIME</h1>
</head>
<body>
<form action="/crime/inputs/<id>">
    <label>Event Number</label>
    <input type="text" name="event" placeholder="12-34-56-789012">
    <br>
    <label>Date Reported</label>
    <input type="text" name="date" placeholder="MM/DD/YYYY">
<br>
    <label>Case Number</label>
    <input type="text" name="case" placeholder="234567">
<br>
    <label>Offense</label>
    <input type="text" name="offense" placeholder="CRIME REPORTED">
<br>
    <label>Disposition</label>
    <input type="text" name="disposition" placeholder="OPEN/CLOSED">
<br>
    <label>Location</label>
    <input type="text" name="location" placeholder="1000 Block of Watt Way">

    <input type="submit" name="SUBMIT">

</form>
</body>
</html>