<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Search</title>
    <style>
        table, th, td {border: 1px solid black;}
    </style>
</head>
<body>
<button onclick="window.location.href='http://127.0.0.1:5000/';">HOME </button>
    <h1>Search The Database</h1>
    <form action="/results" method="GET">
        <select name="category">
            <option value="" disabled selected>Select Search Category</option>
            <option value="event">Event</option>
            <option value="date">Date</option>
            <option value="case">Case</option>
            <option value="offense">Offense</option>
            <option value="location">Location</option>
            <option value="disposition">Disposition</option>
        </select>
        <input type="text" name="query" placeholder="Enter search terms">
        <button type="submit">Search</button>
    </form>

<br>
<br>
<div>
    {% if results %}
<h2>Matching Database Entries</h2>
<table style="width:50%">
    <thead style="font-size:18px;">
    <tr>
        <th style="width:5%">Event</th>
        <th style="width:5%">CaseID</th>
        <th style="width:5%">Date_From</th>
        <th style="width:5%">Date_Reported</th>
        <th style="width:5%">Date_To</th>
        <th style="width:10%">Disposition</th>
        <th style="width:5%">Final_Incident_Category</th>
        <th style="width:10%">Final_Incident_Description</th>
        <th style="width:5%">Initial_Incident_Category</th>
        <th style="width:10%">Initial_Incident_Description</th>
        <th style="width:5%">Location</th>
        <th style="width:5%">Location_Type</th>
        <th style="width:5%">Offense_Category</th>
        <th style="width:5%">Offense_Description</th>
    </tr>
    </thead>
    <tbody>
    {% for key, inner_dict in results.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ inner_dict['CaseID'] }}</td>
        <td>{{ inner_dict['Date_From'] }}</td>
        <td>{{ inner_dict['Date_Reported'] }}</td>
        <td>{{ inner_dict['Date_To'] }}</td>
        <td>{{ inner_dict['Disposition'] }}</td>
        <td>{{ inner_dict['Final_Incident_Category'] }}</td>
        <td>{{ inner_dict['Final_Incident_Description'] }}</td>
        <td>{{ inner_dict['Initial_Incident_Category'] }}</td>
        <td>{{ inner_dict['Initial_Incident_Description'] }}</td>
        <td>{{ inner_dict['Location'] }}</td>
        <td>{{ inner_dict['Location_Type'] }}</td>
        <td>{{ inner_dict['Offense_Category'] }}</td>
        <td>{{ inner_dict['Offense_Description'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% endif %}
</div>
</body>
</html>
