<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Database Search</title>
    <style>
        table, th, td {border: 1px solid black;}
    </style>
</head>
<body>
<button onclick="window.location.href='http://127.0.0.1:5000/';">HOME </button>
    <h1>Search By Case Number</h1>
    <form action="/results" method="GET">
        <input type="text" name="query" placeholder='Enter "CaseID Number"'>
        <button type="submit">Search</button>
    </form>

<br>

<h1>Advanced Search</h1>
<div id="form-container">
    <form action="/results">
        <div class="form-row">
            <div class="form-cell">
                <label for="Event">Event</label>
                    <input type="text" name="Event" placeholder="NN-NN-NN-NNNNNN">
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Date_From">Date_From</label>
                    <input type="text" name="Date_From" placeholder="YY-MM-DD">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Date_Reported">Date_Reported</label>
                    <input type="text" name="Date_Reported" placeholder="YY-MM-DD">
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Date_To">Date_To</label>
                    <input type="text" name="Date_To" placeholder="YY-MM-DD">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Disposition">Disposition</label>
                    <input type="text" name="Disposition" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Final_Incident_Category">Final_Incident_Category</label>
                    <input type="text" name="Final_Incident_Category" placeholder="STRING">
            </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Final_Incident_Description">Final_Incident_Description</label>
                    <input type="text" name="Final_Incident_Description" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Initial_Incident_Category">Initial_Incident_Category</label>
                    <input type="text" name="Initial_Incident_Category" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Initial_Incident_Description">Initial_Incident_Description</label>
                    <input type="text" name="Initial_Incident_Description" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Location">Location</label>
                    <input type="text" name="Location" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Location_Type">Location_Type</label>
                    <input type="text" name="Location_Type" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Offense_Category">Offense_Category</label>
                    <input type="text" name="Offense_Category" placeholder="STRING">
                </div>
        </div>

        <div class="form-row">
            <div class="form-cell">
                <label for="Offense_Description">Offense_Description</label>
                    <input type="text" name="Offense_Description" placeholder="STRING">
                </div>
        </div>
    <br>
        <button type="submit" name="Advanced Search">Advanced Search</button>
</form>
</div>
    <br>
    {% if results %}
<h2>Matching Database Entries: {{ number_found }}</h2>
<table style="width:50%">
    <thead style="font-size:18px;">
    <tr>
        <th style="width:5%">Event</th>
        <th style="width:5%">CaseID</th>
        <th style="width:5%">Date_From</th>
        <th style="width:5%">Date_Reported</th>
        <th style="width:5%">Date_To</th>
        <th style="width:10%">Disposition</th>
        <th style="width:5%">Final_Incident_Category</th>
        <th style="width:10%">Final_Incident_Description</th>
        <th style="width:5%">Initial_Incident_Category</th>
        <th style="width:10%">Initial_Incident_Description</th>
        <th style="width:5%">Location</th>
        <th style="width:5%">Location_Type</th>
        <th style="width:5%">Offense_Category</th>
        <th style="width:5%">Offense_Description</th>
    </tr>
    </thead>
    <tbody>
    {% for key, inner_dict in results.items() %}
    <tr>
        <td>{{ key }}</td>
        <td>{{ inner_dict['CaseID'] }}</td>
        <td>{{ inner_dict['Date_From'] }}</td>
        <td>{{ inner_dict['Date_Reported'] }}</td>
        <td>{{ inner_dict['Date_To'] }}</td>
        <td>{{ inner_dict['Disposition'] }}</td>
        <td>{{ inner_dict['Final_Incident_Category'] }}</td>
        <td>{{ inner_dict['Final_Incident_Description'] }}</td>
        <td>{{ inner_dict['Initial_Incident_Category'] }}</td>
        <td>{{ inner_dict['Initial_Incident_Description'] }}</td>
        <td>{{ inner_dict['Location'] }}</td>
        <td>{{ inner_dict['Location_Type'] }}</td>
        <td>{{ inner_dict['Offense_Category'] }}</td>
        <td>{{ inner_dict['Offense_Description'] }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
    {% endif %}
</div>
</body>
</html>
